.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;}
.navbar {
    height: 80px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
    border-bottom: 1px solid white; }
.nav-menu {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;}

.nav-item {
    height: 80px;}

.nav-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    height: 100%;
    padding: 0 1.5rem;}
